body{
    margin-left: 20px;
    margin-right: 20px;
}


.card{
    margin: 20px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 30px;
}
.card-block{
    padding: 20px;
    margin: 20px;
}

.documents{
    padding: 20px;
    margin: 10px;
    background: rgba(209,255,239,0.96);
}

.recommendation{

    overflow-y:scroll;
    position:relative;
    height: 400px;
}

h5{
    margin: 10px;

}